.stock {
  /* inline block make the div adjust to content */
  border: 0.2px solid #3e3e40;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.stock:hover {
  background-color: #3e3e40;
  color: white;
}

.stock:hover a {
  color: white;
}

.stock-code {
  font-weight: 600;
  font-size: 1.1em;
}

.stock-description {
  font-weight: 300;
  font-size: 0.9em;
}

.fa-times {
  cursor: pointer;
}

.fa-times:hover {
  transform: scale(1.2);
}
